div.textbox-icon {
    position: relative;

    i.material-icons {
        position: absolute;
        left: 0.3em;
        height: 24px;
        width: 24px;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 4; /** when focused, the typeahead changes its textbox's z-index to 3 */
    }

    input.form-control {
        padding-left: 2.5em;
    }
}

.btn.circle {
    border-radius: 50%;
    &.material-icons {
        height: 1.8em;
        width: 1.8em;
        line-height: 1.7em;
        padding: 0px;
    }
}